@page
@model tbkk.Pages.FoodSets.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FoodSet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FoodSet.FoodSetcoManul" class="control-label"></label>
                <input asp-for="FoodSet.FoodSetcoManul" class="form-control" />
                <span asp-validation-for="FoodSet.FoodSetcoManul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodSet.NameSet" class="control-label"></label>
                <input asp-for="FoodSet.NameSet" class="form-control" />
                <span asp-validation-for="FoodSet.NameSet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodSet.Price" class="control-label"></label>
                <input asp-for="FoodSet.Price" class="form-control" />
                <span asp-validation-for="FoodSet.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodSet.Canteen_CanteenID" class="control-label"></label>
                <select asp-for="FoodSet.Canteen_CanteenID" class ="form-control" asp-items="ViewBag.Canteen_CanteenID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
