@page
@model tbkk.Pages.listOTs.CreateOTModel

@{
    ViewData["Title"] = "CreateOT";
}

<div id="content-wrapper">
    <div name="55555" class="card-layout">


        <h1>Create OT</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Management OT</li>
            <li class="breadcrumb-item active">Manage OT</li>
            <li class="breadcrumb-item active">Create OT</li>
        </ol>


        <hr />
        <div class="card " style="margin-top:1%">
            <div class="card-header">
                Create
            </div>

            <div class="card-body">


                <div class="row">
                    <div class="col-md-12">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                            <div class="form-group">
                                <label asp-for="OT.date" class="control-label"></label>
                                <input asp-for="OT.date" class="form-control" />
                                <span asp-validation-for="OT.date" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OT.TimeStart" class="control-label"></label>
                                <input asp-for="OT.TimeStart" class="form-control" />
                                <span asp-validation-for="OT.TimeStart" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OT.TimeEnd" class="control-label"></label>
                                <input asp-for="OT.TimeEnd" class="form-control" />
                                <span asp-validation-for="OT.TimeEnd" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input hidden asp-for="OT.TypStatus" class="form-control" value="Open" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" asp-rout-id=@Model.Employee.EmployeeID class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>




    </div>
    <!-- /.container-fluid -->
   
   
</div>

@section Scripts {
    <script>
        var nav = document.getElementById("Management");
        var nav2 = document.getElementById("Management OT");
        @{ if (Model.Employee.Position.PositionName.Equals("Manager") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav.style.display = "block";
            }
            if (Model.Employee.Department.DepartmentName.Equals("Human Resource") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav2.style.display = "block";
            }
        }
         var name = document.getElementById("nav_name").innerHTML = "Name: @Model.Employee.FirstName @Model.Employee.LastName Position: @Model.Employee.Position.PositionName";
        var img = document.getElementById("myImg").src = "/Upload/@Model.Employee.Image";
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
