@page
@model tbkk.Pages.Home.HomeModel
@{
    ViewData["Title"] = "Home";

}

    



<div id="content-fullimg">

    <img width="100%" height="100%" src="http://www.tbkk.co.th/images/slider/04.jpg" alt="" />


    <!-- <div name="55555" class=">


      <h1 id="data">@Html.DisplayFor(model => model.Employee.FirstName)</h1>



    </div>-->

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    var nav = document.getElementById("Management");
    var name = document.getElementById("nav_name").innerHTML = "Name: @Model.Employee.FirstName @Model.Employee.LastName Position: @Model.Employee.Position.PositionName";

    var nav2 = document.getElementById("Management OT");
        @{ if (Model.Employee.Position.PositionName.Equals("Manager") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav.style.display = "block";
            }
            if (Model.Employee.Department.DepartmentName.Equals("Human Resource") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav2.style.display = "block";
            }
        }
    var img = document.getElementById("myImg").src = "/Upload/@Model.Employee.Image";

</script>
}