@page
@model tbkk.Pages.test.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DetailOT</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DetailOT.TimeStart" class="control-label"></label>
                <input asp-for="DetailOT.TimeStart" class="form-control" />
                <span asp-validation-for="DetailOT.TimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailOT.TimeEnd" class="control-label"></label>
                <input asp-for="DetailOT.TimeEnd" class="form-control" />
                <span asp-validation-for="DetailOT.TimeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailOT.Hour" class="control-label"></label>
                <input asp-for="DetailOT.Hour" class="form-control" />
                <span asp-validation-for="DetailOT.Hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailOT.Type" class="control-label"></label>
                <input asp-for="DetailOT.Type" class="form-control" />
                <span asp-validation-for="DetailOT.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailOT.CarNumber" class="control-label"></label>
                <input asp-for="DetailOT.CarNumber" class="form-control" />
                <span asp-validation-for="DetailOT.CarNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailOT.Status" class="control-label"></label>
                <input asp-for="DetailOT.Status" class="form-control" />
                <span asp-validation-for="DetailOT.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailOT.Part_PaetID" class="control-label"></label>
                <select asp-for="DetailOT.Part_PaetID" class ="form-control" asp-items="ViewBag.Part_PaetID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DetailOT.FoodSet_FoodSetID" class="control-label"></label>
                <select asp-for="DetailOT.FoodSet_FoodSetID" class ="form-control" asp-items="ViewBag.FoodSet_FoodSetID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DetailOT.CarType_CarTypeID" class="control-label"></label>
                <select asp-for="DetailOT.CarType_CarTypeID" class ="form-control" asp-items="ViewBag.CarType_CarTypeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DetailOT.OT_OTID" class="control-label"></label>
                <select asp-for="DetailOT.OT_OTID" class ="form-control" asp-items="ViewBag.OT_OTID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DetailOT.Employee_EmpID" class="control-label"></label>
                <select asp-for="DetailOT.Employee_EmpID" class ="form-control" asp-items="ViewBag.Employee_EmpID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
